@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/*Root*/
:root {
    --primary-color: #021832;
    --secondary-color: #a3a190;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --primary-font: "Cormorant Garamond", serif;
    --secondary-font: "EB Garamond", serif;
    --primary-text: #0d1a2b;
    --secondary-text: white;
    --text-white: #fff;
    --text-black: #151515;
    --gold: #867051;
    --light-gold: #bd9b71;
    --black: #20252d;
}

html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

::selection {
    color: #F05A28;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-white);
}

::-webkit-scrollbar-thumb {
    background: var(--text-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    padding: 50px 0 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*NavBar*/
.nav-link {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: color 0.3s ease-in-out;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    line-height: 3.333;
    letter-spacing: 2.9px;
    font-weight: 200;
    position: relative;
    line-height: 1.5;
    text-transform: uppercase;
}

.nav-item.active-link a {
    color: #F05A28;
}

.nav-item.active-link .underline {
    width: 100%;
    background-color: #F05A28;
}

.nav-item:hover .underline {
    background-color: #F05A28;
    width: 100%;
}

.nav-item {
    padding-top: 10px;
}

.nav-item:hover a {
    color: #F05A28;
}

.nav-item:active a {
    transition: none;
}

.nav-item:active .underline {
    transition: none;
    background-color: #F05A28;
}

.navbar-nav {
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
}

.navbar {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    background-color: #F05A28;
    color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover,
.navbar-toggler:active {
    border-color: #F05A28 !important;
    background-color: #F05A28;
    color: transparent !important;
}

.btn-3 {
    overflow: hidden;
}

.nav-link:focus {
    color: unset !important;
}

html body header nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.text-center div.container div#collapseNav.collapse.navbar-collapse a.button.menu.center {
    margin: 0;
    width: 200px;
    height: 60px;
}

/*Index-Home*/
.swiper-container {
    width: 100%;
    height: 80vh;
    position: relative;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625)), url('assets/image/0.jpeg') center center / cover no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625)), url('assets/image/1.jpeg') center center / cover no-repeat;
}

.slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625)), url('assets/image/2.jpeg') center center / cover no-repeat;
}

.swiper-pagination {
    bottom: 20px !important;
    left: 20px !important;
    width: auto !important;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
    position: relative;
    margin: 5px;
}

.swiper-pagination-bullet::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active::after {
    opacity: 1;
}

.swiper-pagination-bullet:hover {
    border: 2px solid #c4b583;
    color: #c4b583;
}

.swiper-pagination-bullet:hover::after {
    opacity: 1;
}

.hss1 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.hss2 {
    font-weight: 300;
    font-size: 70px;
    font-family: 'Cinzel', serif;
    text-align: center;
}

/*Index-About*/
.about-three__thumb,
.about-three__thumb__one {
    position: relative;
}

.about-three__thumb__one img {
    width: 550px;
    height: 500px;
}

.about-three__thumb__two {
    position: absolute;
    right: 85px;
    bottom: 0;
}

.about-three__thumb__two img {
    width: 250px;;
    height: 225px;
}

#tagline {
    margin: auto;
}

.about_area h6 {
    color: #737a83;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.about_area h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.about_area p {
    font-family: 'Prompt', sans-serif;
    color: #8c8c8c;
}

.about_area {
    padding-top: 0px;
}

/*Index-Rooms*/
.img100 {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.img100 img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s;
    filter: brightness(0.8);
}

.img100:hover img {
    filter: brightness(0.4);
}

.img100::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
    opacity: 0;
}

.col-md-4:hover .img100::after {
    background-color: rgba(0, 0, 0, 0.8);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.learn-more {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
}

/*Index-Popular*/
.col-md-6 {
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    flex-grow: 1;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
    max-height: 400px;
}

.icon-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icon-text {
    font-size: 12px;
}

.price-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
}

.price-label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.price {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.text-container {
    text-align: center;
    padding: 1.5rem;
}

.title-popular {
    font-size: 24px;
}

.subtitle-popular {
    font-size: 18px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 15px 50px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-2 {
    padding: 15px 50px;
    margin: 0 5px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    transition: 0.5s;
}

.btn-2:hover {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    transition: 0.5s;

}

.bb {
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 4px 6px 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .15s cubic-bezier(.58, .3, .51, .82);
    transition: all .15s cubic-bezier(.58, .3, .51, .82);
}

/*Index - Ameneties*/
.amenity {
    text-align: center;
}
.amenity-1{text-align: center;margin-top: 20px}
.icon-circle {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    transition: background-color 0.3s;
}

.icon-circle i {
    color: white;
    font-size: 40px;
}
.icon-circle:hover i{
    color: #007bff;
}
.icon-circle:hover {
    background-color: white;
}

h4 {
    margin-bottom: 10px;
}

/*Index-Testimonials*/
.testcimonials {
    background: url(assets/image/0.jpeg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    text-align: center;
    display: flex;
    align-items: center;
}
.testimonial-content {
    background-color: rgb(255, 255, 255 , 0.6);
    padding: 40px 20px;
    border-radius: 30px 0 30px 0;
}
.testimonial-content h5 {
    font-family: 'Jost', sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.author {
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.place {color: rgb(0, 0, 0);}
.test-text {
    width: calc(100% - 10px);
}
.quote-img {
    position: relative;
}
.quote-img div {
    content: '';
    font-size: 100px;
    line-height: 1;
    position: absolute;
    top: -5px;
    right: -10px;
}
.div .author {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.div .place {
    font-family: 'Outfit', sans-serif;
    line-height: 1em;
    font-size: 13px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: grey;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #d7bc47;
}
/*Attractions*/
/*Jumbotron*/
/*Menu*/
.destinations-area.style3 {
    position: relative;
    display: block;
    padding: 50px 0;
}

.destinations-area.style3 .single-destination-box {
    height: 100%;
}

.single-destination-box {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.destinations-area.style3 .single-destination-box {
    margin-bottom: 20px;
}

.single-destination-box .img-holder::before {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10px;
    content: "";
    transition: all 700ms linear;
    transition-delay: 0s;
    transition-delay: 0.1s;
    transform: scaleX(0);
}

.single-destination-box .img-holder::before {
    background-color: #ffe701;
}

.single-destination-box {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.single-destination-box .img-holder {
    position: relative;
    display: block;
    padding-bottom: 10px;
    height: 600px;
}

.single-destination-box .img-holder:before {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10px;
    content: "";
    transition: all 700ms linear;
    transition-delay: 0.1s;
    transform: scaleX(0);
}

.single-destination-box:hover .img-holder:before {
    transform: scaleX(1.0);
}

.single-destination-box .img-holder .inner {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 5;
    height: 100%;
}



.single-destination-box .img-holder .inner img {
    width: 100%;
    transform: scale(1.01);
    transition: all 700ms ease;
    height: 100%;
}

.single-destination-box:hover .img-holder .inner img {
    transform: scale(1.2);
}

.single-destination-box .img-holder .overlay-title {
    text-align: center;
    padding-bottom: 45px;
    z-index: 5;
}

.single-destination-box .img-holder .overlay-title h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 800;
    margin: 0 0 5px;
}

.single-destination-box .img-holder .overlay-title h1 a {
    color: #ffffff;
}

.single-destination-box .img-holder .overlay-title p {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.img-holder {
    position: relative;
    overflow: hidden;
}

.img-holder .inner {
    position: relative;
}

.img-holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-holder .inner:hover .overlay {
    opacity: 1;
}

.img-holder .inner.overlay-active .overlay {
    opacity: 1;
}

.overlay-title.hide {
    display: none;
}

.overlay-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    color: white;
}

.overlay-text {
    display: none;
    position: absolute;
    top: 5%;
    left: 0%;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 25px;
}

.img-holder .inner:hover .overlay-text {
    display: unset;
}

.overlay-text.show {
    display: block !important;
    font-size: 24px;
}

/*Gallery*/
.photos {
    height: 470px;
}

.photos img {
    height: 100%;
    margin-bottom: 15px;
}

.photos-1 {
    max-height: 700px;
}

.photos-1 img {
    height: 100%;
    margin-bottom: 15px;
}

/*About Us*/
/*Contact*/
.contact-card {
    background: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.contact-section {
    padding-top: 0px;
}

.contact-info {
    text-align: center;
    justify-content: center;
    display: grid;
    margin-top: 10%;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-icon {
    color: #F05A28;
    font-size: 24px;
    margin-right: 10px;
}

.contact-text {
    text-align: left;
}

.contact-text h4 {
    margin: 0;
    font-size: 26px;
    color: #333;
}

.contact-text p {
    margin: 0;
    font-size: 20px;
    color: #555;
}

.social-icons-2 {
    margin-top: 20px;
}

.social-icons-2 a {
    color: #F05A28;
    font-size: 30px;
    margin: 0 10px;
}



/*General*/
.section {
    overflow: hidden;
}

.pd0 {
    padding: 0px;
}

.title {
    margin-left: -3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
    margin-bottom: 21px;
    font-size: 40px;
}

.block-text .text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
}

.text h4 {
    font-size: 36px;
    margin-bottom: 2px;
    margin-top: -10px;
}

.text h5 {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 24px;
    color: #333333;
    display: inline-block;
    text-transform: capitalize;
}

.text h5::before {
    position: absolute;
    bottom: -1px;
    width: 98px;
    height: 1px;
    background-color: #666666;
    content: "";
}

.text p {
    margin-bottom: 20px;
    font-size: 20px;
}

.description {
    font-size: 20px;
    color: #777;
}

.shadow.dark::after {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.breadcrumb-area {
    padding: 150px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.breadcrumb-area h1 {
    display: block;
    font-weight: 600;
    margin-top: -10px;
}

.breadcrumb-area .row {
    position: relative;
    z-index: 1;
}

.breadcrumb-area .breadcrumb {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.breadcrumb-area .breadcrumb li {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    font-size: 22px;
}

.breadcrumb-area .breadcrumb li a {
    font-weight: 600;
    font-size: 22px;
}

.breadcrumb-area .breadcrumb li a:hover {
    color: #F05A28;
}

ul.breadcrumb li i.fas.fa-chevron-right {
    font-size: 18px;
}

.breadcrumb-area .breadcrumb li i {
    margin-right: 3px;
}

.breadcrumb-area h1 {
    display: block;
    font-weight: 600;
    margin-top: -10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumb-area {
        padding: 150px 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumb-area {
        height: 60vh;
    }

    .breadcrumb-area h1 {
        font-size: 36px;
    }

    .contact-style-one-info ul {
        grid-template-columns: 1fr;
    }
}

/*Button*/

/*Animation*/
.fadeinleft {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1.3s ease-out;
}

.fadeinright {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.8s ease-out;
}

.fadeindown {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
}

.fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
}

.fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

.fadein {
    opacity: 0;
}

/*Footer*/
main {
    background-image: url(assets/image/bck1.png);
}

.footer {
    background-image: url(assets/image/black-blue.webp);
    background-repeat: round;
    padding-top: 40px;
}

.footer p {
    text-align: left;
    color: whitesmoke;
}

.footer h4 {
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: whitesmoke;
    margin-bottom: 15px;
    border-bottom: #ffffff solid 3px;
    padding-bottom: 3px;
    display: table;
}

.footer .logo a {
    justify-content: center !important;
    position: relative;
    text-decoration: none;
}

/* Contact List */
ul.conta {
    padding: 0;
}

ul.conta li {
    color: whitesmoke !important;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    list-style: none;
}

ul.conta li i {
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}

iframe {
    height: 65%;
}

html body main section.contact-section div.container.mt-5 div.row div.col-md-6.fadeinleft.active-left iframe.fade-in-up {
    height: 100%;
}

/* Social Icons */
.social-icons {
    margin-top: 15px;
    text-align: left;
}

.social-icons a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #F05A28;
}

/* Link Menu */
ul.link_menu {
    padding: 0;
}

ul.link_menu li {
    display: block;
    text-align: left;
    transition: 0.5s;
}

ul.link_menu li a {
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    fill: whitesmoke;
}

ul.link_menu li.active a {
    color: #F05A28;
}

ul.link_menu li a:hover {
    color: #F05A28;
    transform: translate(10px);
}

footer a.hover-link {
    font-weight: 600;
    font-size: 20px;
}

/* Copyright */
.copyright {
    margin-right: 5%;
    margin-left: 5%;
}

.copyright-text {
    border-top: 1px solid white;
    text-align: center;
    color: white;
}

.square-container {
    position: relative;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square-item {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 16px;
}

.square-item.top {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.square-item.right {
    top: 25%;
    right: -50px;
}

.square-item.bottom {
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.square-item.left {
    top: 25%;
    left: -50px;
}

.square-item.center {
    z-index: 1;
}

.square-item.center .logo {
    transition: opacity 0.3s;
}

.square-item.center .hover-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.square-item.center:hover .logo {
    opacity: 0;
}

.square-item.center:hover .hover-text {
    opacity: 1;
}

/* Hover Links */
.hover-link {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.hover-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
}

.hover-link:hover::before {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
        width: 7px;
    }

    .footer h4 {
        text-align: center;
        display: inline-block;
    }

    .social-icons,
    .contact-text {
        text-align: center;
    }

    ul.conta,
    .contact-item {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .copyright {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .square-container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .square-item {
        width: 100%;
        height: auto;
        position: static;
        margin-bottom: 15px;
    }

    .square-item.center {
        order: 1;
        margin-bottom: 0;
        text-align: center;
    }

    .square-item.center .logo {
        margin-bottom: 10px;
    }

    .square-item.center .hover-text {
        display: block;
    }

    .square-item.top,
    .square-item.right,
    .square-item.bottom,
    .square-item.left {
        order: unset;
        transform: none;
    }

    .title {
        font-size: 26px;
    }

    .block-text .text {
        font-size: 18px;
    }
    .bb20,.img100{margin-top: 20px;}
    html body main section div.container div.block-text.text-center.container h3.title{margin-bottom: 0px;}
    .about-three__thumb__two img{display: none;}
    .about-three__thumb__one img{width: 100%;height: 300px;}
    #tagline{margin-top: 20px;text-align: center;}
    .hss1{font-size: 30px;}
    .hss2{font-size: 22px;}
}